@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background-color: var(--secondary-one);
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary-blue);
  border-radius: 10px;
}
::-webkit-scrollbar-button {
  background-color: var(--secondary-three);
}
:root {
  --primary-blue: #495e59;
  --primary-yellow: #f4ce14;
  --secondary-one: #ee9972;
  --secondary-two: #fbdabb;
  --secondary-three: #edefee;
  --secondary-four: #333333;
  --Display: 64px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  text-align: center;
  scroll-behavior: smooth;
}
body {
  font-family: "Karla", sans-serif;
  margin: auto;
  list-style-type: none;
  color: black;
}
#root {
  display: flex;
  flex-direction: column;
}
header {
  padding: 5px 0;
}
.row {
  width: 85%;
  margin: 0 auto;
}
section:nth-child(odd) {
  background-color: var(--primary-blue);
}
.header-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.header-container img {
  width: 220px;
}
.home-logo-link {
  width: auto;
  height: auto;
}
section {
  margin-bottom: 64px;
}
footer {
  background-color: var(--secondary-four);
  color: white;
}
.footer-list-title {
  color: var(--primary-yellow);
  font-weight: bolde;
  font-size: 18px;
  margin-bottom: 8px;
}
.footer-wrapper {
  margin: 36px 0;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: auto;
  row-gap: 23px;
}
.footer-wrapper > ul li {
  text-align: left;
}
@media (max-width: 1024px) {
  .footer-wrapper {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto auto;
  }
}
@media (max-width: 768px) {
  .footer-wrapper {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
  }
}
@media (max-width: 480px) {
  .footer-wrapper {
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
    place-content: center;
  }
}
