@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root{
  --primary-blue : #495E59;
  --primary-yellow : #F4CE14;
  --secondary-one: #EE9972;
  --secondary-two: #FBDABB;
  --secondary-three : #EDEFEE;
  --secondary-four: #333333;
  --Display : 64px;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  text-align: center;
}
body{
  font-family: "Karla", sans-serif;
  margin: auto;
  list-style-type: none;
}
#root{
  display: flex;
  flex-direction: column;
}
header{
  padding: 25px 0;
}
.row{
  width: 80%;
  margin: 0 auto;
}
.header-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nav-wrapper ul{
  display: flex;
  justify-content: space-between;
}
.nav-wrapper ul > li{
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin: 0 20px;
  text-transform: uppercase;
  font-size: 18px;
}
li > a{
  color: #333333;
}
.nav-wrapper li::after{
  position: absolute;
  content: "";
  bottom: -3px;
  border-bottom: solid;
  width: 0;
  right: 0;
  transition: all 300ms ease;
}
.nav-wrapper li:hover::after{
  width: 100%;
  left: 0;
}
nav > ul {
  display: flex;
  flex-wrap: wrap;
}
main{

}

.footer-wrapper{
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: auto;
}

.footer-wrapper > ul li{
text-align: left;
}
@media(max-width : 1024px){
  .footer-wrapper{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto auto;
  }
}
@media(max-width: 768px){
  .footer-wrapper{
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    
  }
}
@media(max-width: 480px){
  .footer-wrapper{
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
    place-content: center;
  }
}